[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
web: gunicorn trellis_django.wsgi

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
dj-database-url = "*"
gunicorn = "*"
djoser = "*"
django-cors-headers = "*"
whitenoise = "*"
django-extensions = "*"

[dev-packages]

[requires]
python_version = "3.9"
